<%- include('./partials/head') %>
<% if (locals.user != null) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
<% } %>     
       
          
      <div class="container products-wrapper">
        <div class="row">
            <h2 class="col-12 centrarlo"> 
              <form class="registrarme" action="/product/update/<%= seleccionado.id %>" method="POST">
                    <h2>Modificar</h2>
                    <div><input type="hidden" placeholder="Imagen" name="usuario_id" value="<%= locals.user.id %>"> </div>
                    <div><input type="text" placeholder="Imagen" name="img" value="<%= seleccionado.img %>"></div>
                    <div><input type="text" placeholder="Nombre del producto:" name="nombre" value="<%= seleccionado.nombre %>"></div>
                    <div><input type="text" placeholder="Descripcion:" name="descripcion" value="<%= seleccionado.descripcion %>"></div>
                    <button type="submit" class="verdaro">Actualizar</button>
                </form>
            </h2>

          </div>
        </div>
 
    <%- include('./partials/footer') %>