<%- include('./partials/head') %>
<% if (locals.user != null) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
<% } %>

<!-- product detail -->
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= seleccionado.nombre %></h2> 
        <p class="product-detail-description">

            <ol class="flex-box-c">
                <% for( let i = 0; i < seleccionado.length; i++ ) { %>
                  <li class="li">
            <a href="/product/product-update/<%= seleccionado[i].id %>">Modificar</a><% } %>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="/images/products/<%= seleccionado.img %>" alt="" class="<%= seleccionado.nombre %>">
                <p class="product-detail-description"><%= seleccionado.descripcion %></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                </section>
                <form class="form" action="/users/profile" method="get">
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                    
                </form>
                <form class="form" action="/product/delete/<% seleccionado.id %>" method="POST">
                    <input type="text" hidden name="id" id="" value="<%= seleccionado.id %>">
                    <input class="form-input" value="Eliminar" type="submit">
                </form>
                <form action=""></form>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- /product detail -->

<%- include('./partials/footer') %>