<%- include('./partials/head') %>
<% if (locals.user != null) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
<% } %>

 <!-- Novedades -->
 <div class="container products-wrapper">
    <div class="row">
    
            <h2 class="col-12 centrarlo">
            <form class="registrarme" action="/product/add" method="post">
                <h2 style="font-size: 1.0em; ;">Agregar Producto</h2>
                <div><input type="hidden" placeholder="usuario_id" name="usuario_id" value="<%= locals.user.id %>"> </div>
                <div><input type="text" placeholder="Imagen:" name="img"> </div>
                <div><input type="text" placeholder="Nombre del producto:" name="nombre"> </div>
                <div><input type="text" placeholder="Descripcion:" name="descripcion"> </div>
                <br>
                <button type="submit" class="verdaro">Agregar Producto</button>
            </form>
        </h2>

    </div>
</div>

<%- include('./partials/footer') %>